* {
  margin: 0;
}

main {
  height: 100vh;
  width: 100%;
  background-color: #504161;
}

.confetti {
  height: 100vh;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-bar {
  margin-top: 20px;
  text-align: center;
  max-width: 350px;
  color: white;
}

.dices-container {
  margin-top: 50px;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 10px;
}

.dice {
  height: 60px;
  width: 60px;
  font-size: 2rem;
  border: transparent;
  border-radius: 10px;
  background-color: rgb(149, 184, 230);
  color: white;
  font-weight: 600;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.801);
}

.dice:hover {
  outline: solid 3px rgb(255, 255, 255);
  font-size: 2.5rem;
  background-color: rgb(124, 145, 173);
  cursor: pointer;
}

.isHeld {
  font-size: 2.5rem;
  background-color: green;
  outline: solid 3px rgb(255, 236, 130);
}

.bottom-button {
  margin-top: 15px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px 20px;

  background-color: rgb(12, 80, 119);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.801);
  color: white;
  cursor: pointer;
}

.roll-again-button:hover {
  font-size: 1.75rem;
}
